﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fizzle Bizzle Web Application</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/normalize.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/site.min.css" rel="stylesheet" type="text/css" />
    @RenderSection("styles", false)
</head>
<body>    
    <div class="body-content">
        <h1>Fizzle Bizzle Test</h1>
        <hr />
        <h2>For Engagency</h2>
        <p class="application-description"><strong>FizzBuzz</strong> generates an array of strings representing the consecutive sequence of integers from start to end. When the integer is a multiple of Fizz, 
        the string "Fizz" is added instead.  Likewise, for multiples of Buzz, "Buzz" is added. For multiples of both Fizz and Buzz, "FizzBuzz" is added.</p>
        <div class="inverted example">
            <h3>For example:</h3>
            <p>
                With Fizz = 3, Buzz = 5, start = 1, and end = 15; the array looks like:<br />
                ["1", "2", "Fizz", "4", "Buzz", "Fizz", "7", "8", ..., "14", "FizzBuzz"]
            </p>
        </div>
        @RenderBody()
    </div>
</body>
</html>