﻿@using FizzleBizzle.Models;
@model FizzleBizzleRequest

@section Styles {
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="~/Scripts/formController/FizzBuzzForm.js"></script>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "fizzle-bizzle-form" }))
{
    <div class="row">
        <div class="col-sm-6 col-12">
            @Html.TextBoxFor((m => m.Start), new { placeholder = "Start", @class = "fizzle-bizzle-input" })
            @Html.ValidationMessageFor((m => m.Start))
        </div>
        <div class="col-sm-6 col-xs-12">
            @Html.TextBoxFor((m => m.End), new { placeholder = "End", @class = "fizzle-bizzle-input" })
            @Html.ValidationMessageFor((m => m.End))
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-12">
            @Html.TextBoxFor((m => m.FizzValue), new { placeholder = "Fizz", @class = "fizzle-bizzle-input" })
            @Html.ValidationMessageFor((m => m.FizzValue))
        </div>
        <div class="col-sm-6 col-12">
            @Html.TextBoxFor((m => m.BuzzValue), new { placeholder = "Buzz", @class = "fizzle-bizzle-input" })
            @Html.ValidationMessageFor((m => m.BuzzValue))
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-12">
            <div class="row">
                <div class="col-6">
                    @Html.CheckBoxFor((m => m.BazzEnabled), new { data_toggle = "toggle", @id = "fizzle-bizzle-bazz-checkbox" })
                </div>
                <div class="col-6 bazz-prompt">
                    Enable bazz?
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-12 predicate-details @(Model != null && Model.BazzEnabled ? "" : " hide")">
            <input class="fizzle-bizzle-input" placeholder="Bazz" disabled />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-12 predicate-details  @(Model != null && Model.BazzEnabled ? "" : " hide")">
            @Html.EnumDropDownListFor(m => m.PredicateOption, "Predicate", new { @class = "form-control fizzle-bizzle-input" })
            @Html.ValidationMessageFor((m => m.PredicateOption))
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <input class="fizzle-bizzle-submit" type="submit" value="Generate" />
        </div>
    </div>
}

@if (Model != null && !String.IsNullOrEmpty(Model.Result))
{
    <div class="results inverted">
        <h3>Results:</h3>
        @Model.Result
    </div>
}