﻿@import "Variables.scss";
$button-border-radius: 6px;
$input-margin: 12px 0 0 0;

#fizzle-bizzle-form {
    .fizzle-bizzle-input {
        width: 100%;
        border-radius: $button-border-radius;
        border: none;
        margin: $input-margin;
        padding: 4px;
    }

    .fizzle-bizzle-submit {
        color: $fizzbuzz-orange;
        margin: $input-margin;
        background: none;
        background-color: white;
        border: none;
        border-radius: $button-border-radius;
        height: 3rem;
        width: 100%;
        margin-bottom: 28px;
    }

    .toggle.btn {
        margin: $input-margin;
        background-color: #ffdfd8;
        border-color: lightgrey;

        .btn-default {
            background-color: #e6e6e6;
        }

        .btn-primary {
            background-color: white;
            color: $fizzbuzz-orange;
        }

        .btn-default {
            color: black;
        }

        .toggle-handle {
            background-color: white;
            border: 1px solid grey;
        }
    }

    .bazz-prompt {
        line-height: 35px;
        padding-top: 12px;
        text-align: right;
    }

    .predicate-details {
        transition: transform 0.3s linear 0.1s, max-height 0.3s linear;
        transform: scale(1);
        max-height: 100px;
    }

    .hide {
        transform: scale(0);
        overflow: hidden;
        transition: transform 0.3s linear 0.1s, max-height 0.3s linear;
        max-height: 0px;
    }

    input[type="text"], input[type="text"]:focus, select, select:focus {
        transition: transform 0.2s linear;
    }

    input[type="text"]:focus, select:focus {
        transform: scale(1.1);
    }
}
