﻿#fizzle-bizzle-form .fizzle-bizzle-input {
  width: 100%;
  border-radius: 6px;
  border: none;
  margin: 12px 0 0 0;
  padding: 4px; }

#fizzle-bizzle-form .fizzle-bizzle-submit {
  color: #cc3611;
  margin: 12px 0 0 0;
  background: none;
  background-color: white;
  border: none;
  border-radius: 6px;
  height: 3rem;
  width: 100%;
  margin-bottom: 28px; }

#fizzle-bizzle-form .toggle.btn {
  margin: 12px 0 0 0;
  background-color: #ffdfd8;
  border-color: lightgrey; }
  #fizzle-bizzle-form .toggle.btn .btn-default {
    background-color: #e6e6e6; }
  #fizzle-bizzle-form .toggle.btn .btn-primary {
    background-color: white;
    color: #cc3611; }
  #fizzle-bizzle-form .toggle.btn .btn-default {
    color: black; }
  #fizzle-bizzle-form .toggle.btn .toggle-handle {
    background-color: white;
    border: 1px solid grey; }

#fizzle-bizzle-form .bazz-prompt {
  line-height: 35px;
  padding-top: 12px;
  text-align: right; }

#fizzle-bizzle-form .predicate-details {
  transition: transform 0.3s linear 0.1s, max-height 0.3s linear;
  transform: scale(1);
  max-height: 100px; }

#fizzle-bizzle-form .hide {
  transform: scale(0);
  overflow: hidden;
  transition: transform 0.3s linear 0.1s, max-height 0.3s linear;
  max-height: 0px; }

#fizzle-bizzle-form input[type="text"], #fizzle-bizzle-form input[type="text"]:focus, #fizzle-bizzle-form select, #fizzle-bizzle-form select:focus {
  transition: transform 0.2s linear; }

#fizzle-bizzle-form input[type="text"]:focus, #fizzle-bizzle-form select:focus {
  transform: scale(1.1); }

