﻿@import "Variables.scss";
@import "FormStyle.scss";

body {
    background-color: $fizzbuzz-peach;

    .body-content {
        max-width: 600px;
        min-height: 965px;
        background-color: $fizzbuzz-orange;
        border-radius: 30px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 10px auto;
        padding: 40px;
        color: white;

        h1 {
            margin: 0px;
        }

        h2 {
            font-size: 1.7rem;
            text-align: right;
            font-weight: normal;
        }

        .application-description {
            margin-top: 25px;
        }

        .application-description, .example {
            line-height: 1.2rem;
            font-size: 0.9rem;
        }

        hr {
            margin: 0px;
            border-bottom: 4px solid white;
        }

        .inverted {
            background-color: white;
            color: $fizzbuzz-orange;
        }

        .example {
            border-radius: 0 20px;
        }

        .results {
            border-radius: 20px 0px;
        }

        .example, .results {
            padding: 20px;
            margin-bottom: 28px;

            p, h3 {
                font-weight: bold;
            }

            p {
                margin: 0;
            }

            h3 {
                font-size: 1.2rem;
            }
        }

        @media(max-width: 767px) {
            border-radius: 0px;
            margin: 0px auto;
        }
    }
}