﻿#fizzle-bizzle-form .fizzle-bizzle-input {
  width: 100%;
  border-radius: 6px;
  border: none;
  margin: 12px 0 0 0;
  padding: 4px; }

#fizzle-bizzle-form .fizzle-bizzle-submit {
  color: #cc3611;
  margin: 12px 0 0 0;
  background: none;
  background-color: white;
  border: none;
  border-radius: 6px;
  height: 3rem;
  width: 100%;
  margin-bottom: 28px; }

#fizzle-bizzle-form .toggle.btn {
  margin: 12px 0 0 0;
  background-color: #ffdfd8;
  border-color: lightgrey; }
  #fizzle-bizzle-form .toggle.btn .btn-default {
    background-color: #e6e6e6; }
  #fizzle-bizzle-form .toggle.btn .btn-primary {
    background-color: white;
    color: #cc3611; }
  #fizzle-bizzle-form .toggle.btn .btn-default {
    color: black; }
  #fizzle-bizzle-form .toggle.btn .toggle-handle {
    background-color: white;
    border: 1px solid grey; }

#fizzle-bizzle-form .bazz-prompt {
  line-height: 35px;
  padding-top: 12px;
  text-align: right; }

#fizzle-bizzle-form .predicate-details {
  transition: transform 0.3s linear 0.1s, max-height 0.3s linear;
  transform: scale(1);
  max-height: 100px; }

#fizzle-bizzle-form .hide {
  transform: scale(0);
  overflow: hidden;
  transition: transform 0.3s linear 0.1s, max-height 0.3s linear;
  max-height: 0px; }

#fizzle-bizzle-form input[type="text"], #fizzle-bizzle-form input[type="text"]:focus, #fizzle-bizzle-form select, #fizzle-bizzle-form select:focus {
  transition: transform 0.2s linear; }

#fizzle-bizzle-form input[type="text"]:focus, #fizzle-bizzle-form select:focus {
  transform: scale(1.1); }

body {
  background-color: #ffdfd8; }
  body .body-content {
    max-width: 600px;
    min-height: 965px;
    background-color: #cc3611;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px auto;
    padding: 40px;
    color: white; }
    body .body-content h1 {
      margin: 0px; }
    body .body-content h2 {
      font-size: 1.7rem;
      text-align: right;
      font-weight: normal; }
    body .body-content .application-description {
      margin-top: 25px; }
    body .body-content .application-description, body .body-content .example {
      line-height: 1.2rem;
      font-size: 0.9rem; }
    body .body-content hr {
      margin: 0px;
      border-bottom: 4px solid white; }
    body .body-content .inverted {
      background-color: white;
      color: #cc3611; }
    body .body-content .example {
      border-radius: 0 20px; }
    body .body-content .results {
      border-radius: 20px 0px; }
    body .body-content .example, body .body-content .results {
      padding: 20px;
      margin-bottom: 28px; }
      body .body-content .example p, body .body-content .example h3, body .body-content .results p, body .body-content .results h3 {
        font-weight: bold; }
      body .body-content .example p, body .body-content .results p {
        margin: 0; }
      body .body-content .example h3, body .body-content .results h3 {
        font-size: 1.2rem; }
    @media (max-width: 767px) {
      body .body-content {
        border-radius: 0px;
        margin: 0px auto; } }

